:root {
  --dark-color: #1f2937;
  --light-color: #e5e7eb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* HEADER SECTION START */

#header {
  background-color: var(--dark-color);
  padding: 30px 15%;
  height: 50vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  color: #e5e7eb;
}

nav ul li a,
p {
  color: #e5e7eb;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

#header h1 {
  color: #f9faf8;
  font-weight: bolder;
  font-size: 48px;
  padding: 10px 0;
}

.hero {
  display: flex;
  gap: 30px;
  padding: 60px 0;
}

.hero-text {
  flex: 1;
}

.hero img {
  flex: 1;
  background-color: gray;
}

.btn-sign-up {
  color: #f9faf8;
  padding: 5px 20px;
  background-color: #3882f6;
  border-radius: 5px;
  display: inline-block;
  margin: 10px 0;
}

/* HEADER SECTION END */

/* INFO SECTION START */

#info {
  padding: 0 30%;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#info h1 {
  margin: 30px 0;
  text-align: center;
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
}

.info-cards {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
  gap: 5px;
}

.info-cards p {
  color: black;
}
.info-cards img {
  background-color: gray;
  border: 2px blue solid;
  border-radius: 15px;
  height: 125px;
  width: 125px;
  margin-bottom: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Info Section End */

/* Quote Section Start */

#quote {
  background-color: #e5e7eb;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-card {
  display: flex;
  flex-direction: column;
}

.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.quote-author {
  font-size: 36px;
  color: #1f2937;
  font-weight: bold;
  align-self: flex-end;
}

/* Quote Section End */

/* CTA Section Start */

#cta {
  height: 45vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-card {
  display: flex;
  background-color: #3882f6;
  padding: 50px 90px;
  border-radius: 5px;
}

.cta-text h2 {
  color: #f9faf8;
}

.cta-btn {
  color: #f9faf8;
  padding: 10px 40px;
  border: 2px #f9faf8 solid;
  margin-left: 90px;
  border-radius: 10px;
}

/* CTA Section End */

/* Footer Section Start */
#footer {
  height: 5vh;
  width: 100%;
  background-color: var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
